#content > div {
    width: 100%;
}

#mission {
    width: 100%;
    height: 100vh;
    max-width: 100vw;
}

#mission-div * {
    display: inline-block;
}

#mission-text {
    float: left;
    width: 50%;
    height: 100vh;
    text-wrap: normal;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.75);

    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

#mission-text h1 {
    width: 100%;
    margin: 25vh 0 7.5vh 0;
    padding: 0;

    font-size: 60px;
    font-weight: bold;
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 0 #000000, 0 0 3px #3c3c3c;
}

#mission-text h4 {
    max-width: 100%;
    margin: 0 0 5vh 0;
    padding: 0 8.5vw;

    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

#mission-img {
    width: 100%;
    height: 100vh;
}

#expand-mission {
    color: white;
    font-size: 80px;
}

#story {
    height: 100vh;
}

#story-div {
    width: 100%;
    height: 100%;
}

#story-div img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}

#story-text {
    left: 50vw;
    top: 132.5vh;
    z-index: 255;
    position: absolute;
    transform: translateX(-50%);

    text-wrap: normal;
    text-align: center;
}

#story-text h1 {
    margin: 0;
    white-space: nowrap;
    padding: 0 2.5vw 0 1.5vw;

    font-size: 100px;
    font-weight: bold;
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 0 #000000, 0 0 3px #3c3c3c;
}

#story-text p {
    margin-top: -2vh;
    padding: 5vh 10vw 1vh 10vw;

    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 2px #000000, 0 0 2px #5c5c5c;

    text-align-last: center;
    -moz-text-align-last: center;
}

#expand-team {
    color: white;
    font-size: 80px;
}

.blink {
    animation: blink-animation 1.5s steps(10, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(10, start) infinite;
}
@keyframes blink-animation {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
@-webkit-keyframes blink-animation {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}

#team {
    box-sizing: border-box;
    background-color: var(--secondary);
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

#team-menu {
    width: 90%;
    height: 20vh;
    margin-left: 5%;
}

.choose-team {
    padding-top: 10vh;
}

.change-team {
    float: left;
    z-index: 255;
    width: 12.5vw;
    font-weight: bold;
    margin-right: 2vw;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    padding: 0.5% 1% 0.5% 1%;
    border: 2px double #ECEBE4;
    font-size: 18px; !important;
    background-color: var(--secondary);
    font-family: var(--secondary-font);
}

.change-team:hover {
    cursor: pointer;
    color: var(--secondary);
    background-color: var(--primary);
}

.active-team {
    color: var(--secondary);
    background-color: var(--primary);
}

#team-view {
    width: 90%;
    height: 105vh;
    margin-left: 5%;
}

.team-member {
    width: 25%;
    height: 45vh;

    float: left;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border: 2px double var(--primary);
}

.team-member img {
    width: 15vw;
    height: 15vw;
    margin-top: 12.5%;
    margin-bottom: 7.5%;
    border-radius: 100%;
}

.team-member h1 {
    margin: 0;
    padding: 0;

    font-weight: bold;
    color: var(--primary);
    font-size: 25px; !important;
    font-family: var(--secondary-font);
}

.team-member h2 {
    margin: 0;
    padding: 0;

    font-weight: bold;
    color: var(--primary);
    font-size: 18px; !important;
    font-family: var(--secondary-font);
}

.team-member:hover {
    cursor: pointer;
    background-color: var(--primary);
}

.team-member:hover img {
    border: 2px solid var(--secondary);
}

.team-member:hover h1 {
    color: var(--secondary);
}

.team-member:hover h2 {
    color: var(--secondary);
}
